@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

html {
  overflow-x: hidden;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #343434;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #00aa4b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  outline: 1px solid #787878;
}

.dark {
  background: #232323;
}

.block {
  background: #fff;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1546px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
}

._left {
  justify-content: flex-start;
}
._left > div {
  padding-right: 85px;
  margin-bottom: 13px;
}

._right {
  justify-content: space-between;
}
._right img {
  margin-left: 35px;
  margin-top: auto;
}
._right > div {
  padding-top: 30px;
  padding-left: 63px;
  margin-bottom: 13px;
  margin-top: auto;
}

._yw {
  color: #ffaf2d;
}

._green {
  color: #00aa4b;
}

.grid_1_2 {
  margin-top: 5px;
  margin-right: 11px;
  display: grid;
  grid-template-columns: 43.5% 56.5%;
  grid-template-rows: 419px 316px;
  gap: 10px 13px;
  grid-template-areas: "_main ." "_main .";
}
.grid_1_2 ._main {
  grid-area: _main;
}

h2 {
  color: #121212;
  font-weight: 400;
  padding-bottom: 49px;
  font-size: 40px;
}

header {
  position: relative;
  box-shadow: 4px 6px 18px rgba(0, 0, 0, 0.11);
}

.top_head {
  z-index: 10;
  background: #00aa4b;
}
.top_head nav {
  width: 100%;
  max-width: 1210px;
}
.top_head nav ul {
  margin-left: 8px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.top_head nav ul li.more-button {
  position: relative;
}
.top_head nav ul li.more-button._opened ul {
  display: flex;
}
.top_head nav ul li.more-button ul {
  top: 47px;
  right: 0;
  position: absolute;
  width: 220px;
  display: none;
  flex-direction: column;
  background: #00aa4b;
}
.top_head nav ul li.more-button ul li {
  width: 100%;
}
.top_head nav ul li.more-button ul li a {
  width: 100%;
  text-align: left;
}
.top_head nav ul li.more-button ul li a:hover {
  box-shadow: none;
}
.top_head nav ul li {
  display: flex;
}
.top_head nav ul li.delimeter {
  width: 1px;
  height: 28px;
  border: 1px solid #ffffff;
  background-color: #d5bee7;
  opacity: 0.25;
}
.top_head nav ul li a {
  display: flex;
  padding: 16px 8px 15px 9px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: box-shadow 0.4s ease-in-out, transform 0.1s linear;
}
.top_head nav ul li a:hover {
  box-shadow: inset 0px 4px 0px 0px #fff;
  transform: scale(1.1);
}
.top_head .contacts {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
.top_head .contacts .mail, .top_head .contacts .phone {
  display: flex;
}
.top_head .contacts .mail a, .top_head .contacts .phone a {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.top_head .contacts .mail {
  margin-right: 34px;
}
.top_head .contacts .mail:before {
  margin-right: 7px;
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background: url("../img/email.png") center/contain no-repeat;
}
.top_head .phone:before {
  margin-right: 7px;
  content: "";
  display: block;
  width: 16px;
  height: 20px;
  background: url("../img/phone.png") center/contain no-repeat;
}

.top_head .wrap {
  max-width: 1561px;
}

.site_name {
  font-size: 31px;
  font-weight: 600;
}

.middle_head {
  background: #e8e7e7;
  min-height: 65px;
}
.middle_head .logo {
  margin-right: 58px;
  margin-left: 7px;
  display: flex;
}
.middle_head .logo img {
  margin-right: 8px;
}
.middle_head .search {
  width: 100%;
  max-width: 889px;
}
.middle_head .search form {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.middle_head .search form .all_opt {
  max-width: 66px;
  padding: 8px 26px 9px 17px;
  border: 1px solid #e8e7e7;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  background: url("../img/triangle.png") 93% center/12px no-repeat, #f1f1f1;
}
.middle_head .search form input[type=search] {
  padding: 6px 0px 6px 10px;
  width: 100%;
  border-color: transparent;
  background: #fff;
}
.middle_head .search form input[type=submit] {
  line-height: 0;
  font-size: 0;
  padding: 0 25px;
  max-width: 49px;
  overflow: hidden;
  height: 35px;
  background: url("../img/search.png") center/21px no-repeat, #ffaf2d;
  border: 0px;
}
.middle_head .we {
  margin-right: 12px;
  margin-left: 24px;
}
.middle_head .we img {
  margin-right: 8px;
}
.middle_head .we span {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  color: #787878;
  max-width: 95px;
}

.shop_cart .ico {
  top: 5px;
  left: -3px;
  margin-right: 8px;
  position: relative;
}
.shop_cart .ico ins {
  top: -11px;
  left: 10px;
  right: auto;
  display: block;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  color: #ffaf2d;
  text-decoration: none;
}
.shop_cart .cart_info {
  font-size: 15px;
}
.shop_cart .cart_info .sum {
  color: #787878;
}
.shop_cart .cart_info .sum_num {
  color: #343434;
  font-weight: bold;
}

.bottom_head nav {
  width: 100%;
}
.bottom_head nav ul {
  padding-left: 14px;
  padding-bottom: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.bottom_head nav ul li {
  display: flex;
}
.bottom_head nav ul li a {
  padding: 9px 2px 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: #343434;
  transition: color 0.3s ease-in-out;
}
.bottom_head nav ul li a img {
  margin-bottom: 4px;
  transition: transform 2s;
}
.bottom_head nav ul li a:hover {
  color: #ffaf2d;
}
.bottom_head nav ul li a:hover img {
  transform: rotateY(360deg);
}

.bottom_head .wrap {
  max-width: 1567px;
}

.content {
  padding-top: 19px;
  background: #f5f2f2;
}
.content section {
  padding-left: 11px;
  margin: 0 auto;
  width: 100%;
  max-width: 1412px;
}
.content section:nth-child(-n+2) {
  max-width: 1558px;
}
.content .main_blocks {
  margin-bottom: 20px;
}
.content .brands {
  margin-bottom: 169px;
}
.content .news {
  padding-left: 13px;
  margin-bottom: 164px;
  max-width: 1424px;
}
.content .recomended {
  margin-bottom: 165px;
  box-sizing: border-box;
}
.content .about {
  padding-bottom: 172px;
}

.folders_vertical {
  width: 100%;
  max-width: 303px;
  padding-top: 30px;
  background: #fff;
}
.folders_vertical .title {
  padding-left: 26px;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 14px;
}
.folders_vertical ul li {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(186, 186, 186, 0.25);
  transition: color 0.3s cubic-bezier(0.1, 0.9, 0.9, 1.5);
}
.folders_vertical ul li:last-child {
  border-bottom: transparent;
}
.folders_vertical ul li:hover {
  background: #ffaf2d;
}
.folders_vertical ul li:hover > a {
  color: #fff;
}
.folders_vertical ul li:hover > a:after {
  color: #fff;
}
.folders_vertical ul li a {
  display: flex;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 27px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #343434;
}
.folders_vertical ul li a:after {
  position: absolute;
  right: 22px;
  content: ">";
  display: block;
  color: rgba(120, 120, 120, 0.35);
  font-size: 18px;
  font-weight: bold;
  width: 8px;
  height: 10px;
}

.slider {
  margin: 0;
  max-width: 902px;
}
.slider .swiper-wrapper .swiper-slide .item {
  min-height: 400px;
  padding: 57px 68px 19px 71px;
  display: flex;
  justify-content: space-between;
}
.slider .swiper-wrapper .swiper-slide .item .button {
  margin-bottom: 93px;
  padding: 10px 21px 8px 21px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: #ffaf2d;
  text-decoration: none;
  border-radius: 18px;
}
.slider .swiper-wrapper .swiper-slide .item .button:hover {
  background: #fff;
  color: #ffaf2d;
}
.slider .swiper-wrapper .swiper-slide .item .text div:first-child {
  color: #343434;
  font-size: 16px;
  font-weight: 400;
}
.slider .swiper-wrapper .swiper-slide .item .text .column {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.slider .swiper-wrapper .swiper-slide .item .text .column span {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 18px;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 28px !important;
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
}

.sale {
  padding: 0 28px 52px 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 2px;
  border: 2px solid #ffaf2d;
  width: 100%;
  max-width: 240px;
}
.sale div:first-child {
  margin-bottom: 18px;
  object-fit: contain;
}
.sale .sm {
  color: #343434;
  margin-bottom: 4px;
  font-weight: 400;
}
.sale .big {
  font-size: 40px;
  margin-bottom: 23px;
}
.sale a {
  text-decoration: none;
}

.brands .row {
  padding: 15px 0;
  width: 100%;
}
.brands a {
  color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 71px;
  max-width: 256px;
  border-right: 1px solid #e8e7e7;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.brands a:last-child {
  border-right: 0;
}

.news ._main img {
  display: block;
  margin-bottom: 28px;
}
.news ._main .name {
  margin-bottom: 18px;
}
.news ._main .title {
  margin-bottom: 25px;
}
.news > .row {
  width: 100%;
  justify-content: space-between;
}
.news .row .title {
  color: #121212;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 7px;
}
.news .name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
}
.news .name .date {
  color: #787878;
}
.news .text {
  color: #121212;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
  letter-spacing: normal;
  line-height: normal;
}
.news aside .column {
  height: 100%;
  justify-content: space-between;
}
.news aside .item {
  width: 100%;
  max-width: 818px;
  margin-bottom: 43px;
}
.news aside .item .text {
  color: #121212;
}
.news aside .item img {
  margin-right: 20px;
}
.news > .row ._main {
  width: 100%;
  max-width: 489px;
}
.news .button {
  margin-top: 9px;
  display: block;
  padding: 6px 37px 9px 39px;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  border-radius: 17px;
  border: 2px solid #121212;
  text-decoration: none;
}
.news .button:hover {
  color: #ffaf2d;
  border: 2px solid #ffaf2d;
}

.recomended .title {
  text-align: center;
  padding-bottom: 19px;
}
.recomended .disc {
  margin: 0 auto 65px;
  color: #787878;
  text-align: center;
  font-weight: 300;
  max-width: 658px;
}
.recomended .grid_1_2 ._main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 65px;
}
.recomended .grid_1_2 ._main div {
  text-align: center;
  max-width: 433px;
}
.recomended .grid_1_2 ._main > div > div:last-child {
  max-width: 280px !important;
}
.recomended .grid_1_2 .item:nth-child(2n) img {
  margin-right: 57px;
  height: 100%;
  object-fit: contain;
}
.recomended .grid_1_2 .item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.recomended .grid_1_2 .item > div:first-child {
  margin-bottom: auto;
}
.recomended .grid_1_2 .item .name {
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #121212;
  font-size: 21px;
  font-weight: 400;
}
.recomended .grid_1_2 .item .sub {
  margin-bottom: 27px;
  color: #121212;
  font-size: 30px;
}
.recomended .grid_1_2 .item > div > div:last-child {
  color: #787878;
  line-height: 19px;
}
.recomended .grid_1_2 .dark .name, .recomended .grid_1_2 .dark .sub {
  color: #fff;
}

.about {
  justify-content: space-between;
  color: #121212;
}
.about main {
  padding-left: 6px;
  max-width: 831px;
}
.about aside {
  margin-right: 53px;
  padding-bottom: 112px;
  justify-content: center;
  max-width: 262px;
}
.about aside .site_name {
  font-size: 38px;
}
.about aside > div > div:first-child {
  margin-bottom: 25px;
}
.about aside > div {
  margin-bottom: 23px;
}
.about aside .light {
  color: #787878;
}
.about aside strong {
  font-size: 23px;
  line-height: 37px;
}
.about aside span {
  font-size: 20px;
  color: #121212;
}
.about h1 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 45px;
}
.about h2 {
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 31px;
}
.about p {
  letter-spacing: 1.3px;
  line-height: 20px;
  padding-bottom: 38px;
}
.about .button {
  margin-top: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  font-size: 25px;
  color: #787878;
  border-radius: 100%;
  text-decoration: none;
}
.about .button:hover {
  color: #fff;
}

.foot_top {
  padding: 93px 0 84px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.foot_top .wrap {
  align-items: flex-start;
  max-width: 1396px;
  padding-left: 9px;
}
.foot_top .footer_item .title {
  color: #787878;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.foot_top .footer_item ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.foot_top .footer_item ul li {
  display: flex;
}
.foot_top .footer_item ul li a {
  padding: 4.1px 0;
  color: #fff;
  font-size: 16px;
  display: flex;
  text-decoration: none;
}
.foot_top .footer_item ul li a:hover {
  color: #00aa4b;
  text-decoration: underline;
}
.foot_top .contacts .list > a {
  color: #fff;
  text-decoration: none;
  line-height: 25px;
}
.foot_top .contacts .list > a:hover {
  color: #00aa4b;
  text-decoration: underline;
}
.foot_top .contacts div {
  color: #fff;
  line-height: 25px;
}
.foot_top .contacts > div {
  margin-bottom: 25px;
}

.footer_bottom {
  background: #191919;
}
.footer_bottom .wrap {
  padding-left: 9px;
  max-width: 1396px;
  padding: 38px 0 29px;
}
.footer_bottom .wrap .logo img {
  margin-left: 5px;
  margin-right: 17px;
}
.footer_bottom .wrap .site_name {
  color: #fff;
  font-size: 24px;
}
.footer_bottom .wrap .descriptor {
  color: #787878;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: none;
  border: 2px solid #fff;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.mobile {
  display: none;
}

@media (max-width: 1560px) {
  .top_head nav ul li.delimeter {
    display: none;
  }

  .slider .swiper-wrapper .swiper-slide .item {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .shop_cart {
    flex-shrink: 0;
  }

  .middle_head .search {
    margin-left: 10px;
    margin-right: 10px;
  }

  .top_head .contacts {
    flex-direction: column;
  }
  .top_head .contacts .mail {
    margin-bottom: 8px;
  }

  .wrap {
    max-width: 100%;
    padding: 0 40px;
    justify-content: space-around;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: space-around !important;
  }

  nav ul li a {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .folders_vertical {
    order: 1;
  }

  .sale {
    margin-top: 40px;
    order: 2;
  }

  .row {
    justify-content: space-between;
  }

  .content .main_blocks {
    padding-left: 40px;
    padding-right: 40px;
  }

  .slider {
    margin: 0 !important;
  }

  section {
    padding: 0 40px;
  }

  .grid_1_2 {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
    grid-template-areas: none;
  }

  .grid_1_2 ._main {
    grid-area: auto;
  }
  .grid_1_2 ._main img {
    height: 300px;
  }

  .recomended .grid_1_2 .item {
    padding: 0;
    height: 100%;
  }

  ._right {
    padding-left: 20px !important;
  }

  ._left {
    padding-right: 20px !important;
  }

  .recomended .grid_1_2 .item:nth-child(2n) img {
    margin-right: 10px;
  }
}
@media (max-width: 1280px) {
  ._right img {
    height: 200px;
  }

  .content .main_blocks {
    justify-content: flex-start;
  }

  .folders_vertical {
    margin-right: 20px;
  }

  .slider {
    max-width: 100%;
  }

  .content .news,
.content .news {
    margin-bottom: 151px;
  }

  .folders_vertical {
    margin-top: 40px;
  }

  .news aside {
    margin-top: 20px;
  }

  .news aside .item {
    padding: 0;
  }

  .about aside {
    order: -1;
    margin-bottom: 143px;
  }
}
@media (max-width: 961px) {
  .middle_head .search,
.we,
.cart_info {
    display: none;
  }

  .grid_1_2 {
    grid-template-rows: 1fr 1fr;
  }

  .content .brands {
    margin-bottom: 151px;
  }

  .site_name {
    font-size: 22px;
  }

  .top_head nav {
    width: 85px;
  }

  .content .brands {
    padding: 0;
  }

  .content .about {
    padding: 0 40px 40px;
  }

  .recomended .grid_1_2 ._main {
    padding-top: 20px;
  }

  .recomended .grid_1_2 ._right > div {
    padding-bottom: 30px;
  }

  .foot_top .wrap {
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content .news {
    padding-left: 40px;
    padding-right: 40px;
  }

  .top_head .contacts {
    flex-direction: row !important;
  }

  .footer_item {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .brands .row {
    overflow: hidden;
  }

  .brands a {
    margin-right: 0 !important;
    max-width: 100%;
    border-right: 0 !important;
  }

  .top_head .wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .top_head nav {
    width: 50px;
  }

  .top_head .contacts,
.middle_head {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .content .recomended {
    padding-right: 0;
  }

  .accordeon {
    cursor: pointer;
    border-top: 1px solid #e2e2e2;
    padding: 29px 0 25px 40px;
    font-size: 30px;
    font-weight: 400;
    color: #121212;
    background: #e8e7e7;
  }
  .accordeon:after {
    right: 35px;
    position: absolute;
    display: block;
    content: ">";
    color: #787878;
    font-size: 20px;
    font-weight: 400;
  }

  .bottom_head .wrap {
    overflow: hidden;
    height: 0;
    transition: height 2s;
  }
  .bottom_head .wrap.open {
    height: 350px;
    overflow-y: auto;
  }

  .top_head .mobile {
    align-items: center;
    margin-left: auto;
    width: 30%;
  }
  .top_head .mobile .search {
    width: 40px;
    height: 57px;
    background: url("../img/find.png") center/80px no-repeat;
  }
  .top_head .mobile .phone {
    width: 40px;
    height: 40px;
    background: url("../img/phone_mb.png") center/contain no-repeat;
  }
  .top_head .mobile .phone:before {
    display: none;
  }
  .top_head .mobile .cart {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/cart_mb.png") center/contain no-repeat;
  }
  .top_head .mobile .cart ins {
    text-decoration: none;
    position: absolute;
    top: -12px;
    left: 15px;
    font-size: 18px;
    color: #ffaf2d;
  }

  header {
    z-index: 10;
  }

  .top_head .contacts .mail, .top_head .contacts .phone {
    flex-shrink: 0;
  }

  .top_head {
    padding-top: 17px;
    padding-bottom: 16px;
    background: #e8e7e7;
  }

  .top_head nav ul > li.more-button {
    width: 50px;
    height: 50px;
  }
  .top_head nav ul > li.more-button ul {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: auto;
    height: 100vh;
  }

  .top_head nav ul > li.more-button > a {
    width: 100%;
    font-size: 0;
    background: url("../img/burger.png") center/25px no-repeat, #ffaf2d;
    border-radius: 100%;
  }

  .content .recomended {
    margin-bottom: 50px;
  }

  .about aside {
    margin-bottom: 0px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 25px;
  }

  .grid_1_2 {
    display: flex;
    flex-direction: column;
  }

  .recomended .grid_1_2 .item .name {
    font-size: 18px;
  }

  .recomended .grid_1_2 .item {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .recomended .grid_1_2 .item .sub {
    font-size: 20px;
  }

  .content .main_blocks,
.content .news {
    padding: 0;
  }

  .content .news {
    padding: 0 10px;
  }

  .slider .swiper-wrapper .swiper-slide .item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .folders_vertical {
    margin-right: 0;
  }

  .slider .swiper-wrapper .swiper-slide .item .text .column span {
    font-size: 25px;
  }

  .slider .swiper-wrapper .swiper-slide .item img {
    opacity: 0.2;
  }

  .slider .swiper-wrapper .swiper-slide .item .text div:first-child {
    color: #fff;
  }

  .news aside .item {
    flex-direction: column;
  }
  .news aside .item img {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .content .news {
    margin-bottom: 60px;
  }

  .recomended .grid_1_2 .item img {
    max-width: 72px;
    max-height: 150px;
  }

  .about h1 {
    font-size: 30px;
    line-height: normal;
  }

  .content .about {
    padding: 0 20px 20px;
  }

  .about h2 {
    font-size: 25px;
  }

  ._left > div {
    padding-right: 5px;
    padding-left: 10px;
  }

  ._right > div {
    padding-left: 5px;
  }

  .footer_item.menu {
    display: none;
  }

  .foot_top {
    padding: 40px 0;
  }

  .footer_bottom .wrap {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  .copyright {
    margin-top: 20px;
  }

  .top_head .mobile {
    width: auto;
  }
  .top_head .mobile > div, .top_head .mobile > a {
    margin-right: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
